<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet" />
    <title>IOT NODE APP</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="menu">
          <li>
            <a>EASB IOT NODE</a>
          </li>
          <li class="version">
            <a>v1.1</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="main-container">
      {% block body %}
        {{ platform }}
        {{ show_add.is_show }}
      {% endblock %}
      <img src="{{ url_for('static', filename = '/images/iotnode.png') }}" class="img-fluid" style="margin-top: 1rem;height:5rem;" />
    </div>
    {% extends 'footer.html' %}
  </body>
</html>
